<div class="container">
  <div class="text-center">
    <br>
    <br>
    <p><%= @restaurant.category %></p>
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>

    <h2>Reviews</h2>
    <ul>
      <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %>| Rating: <%= review.rating %>/5</li>
      <% end %>
    </ul>

    <%= link_to 'Add a review', new_restaurant_review_path(@restaurant)  %> |
    <%= link_to 'Back to all restaurants', restaurants_path %>
  </div>
</div>
